<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="application.properties"/>

    <!--<typeAliases>-->
        <!--<typeAlias type="com.gperedu.mybatis.entity.Comment" alias="Comment"/>-->
    <!--</typeAliases>-->

    <typeHandlers>
        <typeHandler handler="com.gperedu.mybatis.handler.JSONConverterHandler" javaType="com.gperedu.mybatis.entity.Comment" />
    </typeHandlers>



    <objectFactory type="com.gperedu.mybatis.objectfactory.MyObjectFactroy">
        <property name="gupao" value="666"/>
    </objectFactory>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>



    <mappers>
        <mapper  resource="com/gperedu/mybatis/mapper/xml/BlogMapper.xml"/>
    </mappers>

</configuration>