<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gperedu.mybatis.mapper.BolgMapper" >

    <cache/>
    <resultMap id="BaseResultMap" type="com.gperedu.mybatis.entity.Blog" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />

    </resultMap>


    <insert id="insertSelective" parameterType="com.gperedu.mybatis.entity.Blog">
        insert into gper_blog values(null, #{content}, #{comment})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select  * from gper_blog where id = #{id}
    </select>



    <select id="batchInsert" parameterType="list">
        insert into gper_blog(id,content) values
           <foreach collection="blogs"  item="blog" separator=",">
               (null,#{blog.content})
           </foreach>
    </select>

    <insert id="insert" parameterType="com.gperedu.mybatis.entity.Blog">
        insert into gper_blog(id,content) values(null, #{content})
    </insert>

</mapper>